<!DOCTYPE html>
<html lang="en">
<head>

    <title>{% block title %}templates/base.html{% endblock %}</title>
</head>

<body>
<div id="sidebar">

    base token : {{ messages.request.COOKIES }}


    {% block sidebar %}
        <ul>
            <li><a href="/mainmenu">Home</a></li>
            {% if user.is_authenticated %}
                authenticated
            {% else %}
                is not authenticated
            {% endif %}

            {% if messages.request.ssouser.logged_in %}
                <li><a href="/accounts/logout">Logout</a></li>
            {% else %}
                <li><a href="/accounts/login">Login</a></li>
            {% endif %}




            <li><a href="/accounts/logout">Forced Logout</a></li>
        </ul>
    {% endblock %}
</div>

<div id="content">
    {% block content %}{% endblock %}
</div>
</body>
</html>